body{
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 2em;
    margin-left: 5em;
    background-color: lightgray;
    color: black;
}
.hist-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 20pt;
    font-family: Arial;
    color: blue;
    text-shadow: 3px 3px 2px black;
}
.hist-text{
    text-align: justify;
    text-indent: 2em;
    border-right: 5px double blue;
    padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 2;
	word-spacing: 1em;
}
.hist-text-bc{
    background-color: white;
}
.hist-text-s{
    color: green;
}