/* playfair-display-800 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/playfair-display-v36-cyrillic-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

.wrapper{
    max-width: 1695px;
    margin: 0 auto;
}

/*Header styles start*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: first baseline;
  justify-content: space-between;
  height: 109px;
}

.header__list{
  display: flex;
  flex-wrap: wrap;
}

.header__item{
  margin-right: 80px;
}

.header__item:last-child{
  margin-right: 0;
}

.header__link{
  color: white;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
  text-decoration: none;
}

.header__link:hover{
  opacity: .75;
}

/*Header styles end*/

/*Intro styles start*/

.intro{
  height: 100vh;
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
}

.intro__title{
  padding-top: 120px;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px;
  max-width: 688px;
}

.intro__subtitle
{
  padding-top: 40px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  max-width: 630px;
}

.intro__button{
  background-color: #EFC224;
  color: black;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 283px;
  border-radius: 38px;
  margin-top: 180px;
  height: 75px;
}

/*Intro styles end*/

/*Info styles start*/

.info__wrap{
  max-width: 1500px; 
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px #1C2A45;
  transform: translateY(-220px);
}

.info__title{
  width: 400px;
  height: 101px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  margin: 0 auto;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.info__text{
  width: 826px;
  height: 330px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
}

/*Info styles end*/

/*Directions styles start*/

.directions{
  height: 100vh;
  background-size: cover;
}

.directions__wrap{
  max-width: 1695px;
  margin: 0 auto;
  transform: translateY(-20%);
}

.directions__img-pic{
  margin-top: 160px;
  width: 831px;
  height: 476px;
  flex-shrink: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.29) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.directions__img__text{
  width: 197px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 60px;
  transform: translateY(-250%);
}

.directions__title{
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  max-width: 400px;
  padding-left: 1245px;
  transform: translateY(-400%);
}

.directions__subtitle{
  color: #1E1E1E;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  max-width: 381px;
  max-height: 132px;
  padding-left: 1245px;
  transform: translateY(-380%);
}

.directions__button{
  width: 283px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 38px;
  border: 2px solid #EFC224;
  color: #1E1E1E;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 1286px;
  transform: translateY(-450%);
}

/*Directions styles end*/

/*Request styles start*/

.request{
  max-width: 1920px;
  max-height: 518px;
  background: url(../img/request.jpg) center;
  background-size: cover;
  transform: translateY(-70%);
}

.request__title{
  max-width: 351px;
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin: 0 auto;
}

.request__subtitle{
  max-width: 208px;
  color: #1E1E1E;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin: 0 auto;
  transform: translateX(-33%);
}

/*Request styles end*/